
default-lease-time 6000;
max-lease-time 72000;

subnet {{ internal_ip_octet_1 }}.{{ internal_ip_octet_2 }}.{{ internal_ip_octet_3 }}.0 netmask 255.255.255.0 {
  range {{ internal_ip_octet_1 }}.{{ internal_ip_octet_2 }}.{{ internal_ip_octet_3 }}.{{ internal_ip_dhcp_range_start }} {{ internal_ip_octet_1 }}.{{ internal_ip_octet_2 }}.{{ internal_ip_octet_3 }}.{{ internal_ip_dhcp_range_end }};
  option domain-name-servers {{ dns_ip_octet_1 }}.{{ dns_ip_octet_2 }}.{{ dns_ip_octet_3 }}.{{ dns_ip_octet_4 }};
  option domain-name "{{ dns_domain }}";
  option routers {{ internal_ip_address }};
  option broadcast-address {{ internal_ip_octet_1 }}.{{ internal_ip_octet_2 }}.{{ internal_ip_octet_3 }}.255;
}
