interface={{ router_access_point_nic }}
driver={{ wireless_hostapd_driver }}
ssid={{ router_ssid }}
hw_mode=g
channel={{ router_wireless_channel }}
macaddr_acl=0
auth_algs=1
ieee80211n=1
ignore_broadcast_ssid=0
wpa=2
wpa_passphrase={{ router_wireless_password }}
wpa_key_mgmt=WPA-PSK
wpa_pairwise=TKIP
rsn_pairwise=CCMP
